
.button-group{}
#img{
        display: block;
        width: 60%;
        height: 60%;
        
}
.card-img-top{
    float: right;
}
#jumbotron{
    background-image: url(./images/marijane_filler.jpg);
    text-align: justify-center;
    border-width: 10px;
    border-color: rgb(9, 61, 9);
    border-style: solid;
}
#jumbotron-text{
    background-color: white;
    width: 20%;
    text-emphasis-position: center;
}
.navbar{
    position: sticky;

}
#image-group{
    
}
#searchBtn{}
#search-input{}
#accordion{}

#footer{}

.cardMobile{}
#card{
   
}
.card{
    float: none;
    border-width: 5px;
    border-color: rgb(9, 61, 9);
    border-style: solid;
}


#product-table{}
#product-table{
    position: relative;
    margin: auto;
    width: auto; 
    padding: auto;
    
}


#contact-form{}
#email{}

.strainFla{
    color: black;
    background-color: green;
    border: 2px solid rgb(0, 0, 0);
    width: 50%;
}
