
.button-group{}
body{
    padding-top: 5rem;
    background: url(./images/homepage\ background.jpg);
    background-size: cover;
    
}
#img{
        display: block;
        width: 60%;
        height: 60%;
        
}
.card-img-top{
    float: right;
}
#jumbotron{
    background: url(./images/DNA-Cannabis.jpg);
    background-size: cover;
    opacity: .8;
    text-align: justify-center;
    border-width: 6px;
    border-color: rgb(9, 61, 9);
    border-style: solid;
}
#jumbotron-text{
    text-align: justify-center;
    width: 20%;
    text-emphasis-position: center;
}
#about-jumbotron{
    background-color: rgb(236, 224, 205);
}
.navbar{
    position: sticky;

}
.container{
    text-align: center;
    position: inherit;
    margin: 10px;
}
#flavor-container{
    background-color: rgb(236, 224, 205);
    border:rgb(9, 61, 9);
    border-width: 4px;
    border-style: solid;

}
#image-group{
    
}
#searchBtn{}
#search-input{}
#accordion{}

#footer{}

.cardMobile{}
#card{
    background-color:  rgb(236, 224, 205);
   
}
.card{
    float: none;
    border-width: 5px;
    border-color: rgb(9, 61, 9);
    border-style: solid;
    background-color:  rgb(236, 224, 205);
}

#product-table{
    position: relative;
    margin: auto;
    width: auto; 
    padding: auto;
    background-color:  rgb(236, 224, 205);
    
}


#contact-form{}
#email{}

.strainFla{
    color: black;
    background-color: transparent;
    border: 2px solid rgb(0, 0, 0);

    width:80px;
    height: 80px;
    display: inline-block;
    vertical-align: top;
    
}
#button-img{
    display: block;
        width:50px;
        height: 50px;

}
